Flask==2.1.0  # Web framework for building the application
Flask-SocketIO==5.1.1  # Provides WebSocket support for real-time communication
eventlet==0.32.0  # Required by Flask-SocketIO for WebSocket support
Flask-Login==0.6.3  # For user authentication management
Flask-WTF==0.15.1  # For handling web forms and CSRF protection
Flask-Migrate==3.1.0  # For database migrations with Flask
Flask-Bcrypt==0.7.1  # For password hashing
Flask-Caching==1.10.1  # For caching support
Flask-Moment==0.7.0  # For displaying timestamps in a human-readable format
Flask-Bootstrap==3.3.7.1  # Integrates Bootstrap with Flask for UI components
SQLAlchemy==1.4.26  # For database ORM
